# Virtual environment
.venv/
venv/

# PyCharm project files
.idea/
idea/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Database files
#date_source.db

# Temporary files
.tmp/
tmp/


/static/load
date_source.db
/.idea/
