# created by virtualenv automatically
# Ignore Python virtual environments

.venv/
venv/

.idea/
idea/

# Ignore other common files
__pycache__/
*.py[cod]

.tmp/
tmp/

date_source.db

/__pycache__
/.idea
/__pycache__
date_source.db
