

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E9E9EB;
    width: 100%;
    box-sizing: border-box;
}

header {
    background: #42506D;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav {
    margin: 10px 0;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.image-container {
    margin: 20px 0;
}

.image-container img {
    max-width: 50%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.link-block {
    background: #3E619B;
    color: white;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
    display: inline-block; /* Чтобы блок отображался как инлайн-блок */
    text-align: center; /* Центрируем текст внутри блока */
    padding: 20px; /* Добавляем отступы */
    border: 1px solid #ccc; /* Добавляем рамку (по желанию) */
}

.link-block:hover {
    background: #123364;
    color: #EF4B4C;
}


.blocks-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.block-image {
    max-width: 80%; /* Ограничиваем ширину изображения */
    height: auto; /* Сохраняем пропорции изображения */
    border-radius: 5px;
    margin-top: 20px; /* Добавляем отступ сверху к изображению */
    margin: 20px;
    justify-content: center;
}

h1 {
    text-align: center;
    color: #0F234E;
}

h2 {
    text-align: center;
    color: #0846AE;
    font-size: 30px;
}

h4 {
    text-align: center;
}

h6 {
    text-align: center;
    font-size: 2em;
}

.header-container {
    display: flex;
    width: 100%;
    margin: 0 auto; /* Центрирование контейнера на странице */
    align-items: center; /* Выравнивание по вертикали */
    position: relative; /* Это необходимо для абсолютного позиционирования баннера */
    z-index: 1; /* Повышаем уровень z для содержимого заголовка */
}

.header-banner {
    position: absolute; /* или fixed, в зависимости от вашего дизайна */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Заполнение области */
    z-index: -1; /* Отправляем изображение на задний план */
}

.logo-container {
    text-align: center; /* Центрирует логотип */
    width: 20%; /* 1/4 от 300px (300px * 0.25) */
    margin-bottom: 10px; /* Отступ снизу */
    margin-right: 50px; /* Отступ между логотипом и навигатором */
}

.logo {
    max-width: 150px; /* Ограничение ширины логотипа */
    height: auto; /* Автоматическая высота для сохранения пропорций */
}

.navigator {
    width: 50%;
    text-align: center; /* Центрирование текста внутри навигатора */
}

.navigator nav {
    display: flex; /* Использование Flexbox для навигационных ссылок */
    justify-content: center; /* Центрирование ссылок навигации */
}

.navigator nav a {
    margin: 0 10px; /* Горизонтальные отступы между ссылками */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 12px;
    text-align: left;
}
th {
    background-color: #214D96;
    color: white;
}
tr:hover {
    background-color: #C0CEE2;
}
.load-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #2A3950;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
.load-btn:hover {
    background-color: #0056b3;
}

/* Стили для формы */
form {
    background: #ffffff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

select, input[type="date"], input[type="text"], input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background: #35424a;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    width: 100%;
}

input[type="submit"]:hover {
    background: #2c3e50;
}

/* Стили для ссылки "Назад на главную" */
a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #35424a;
    font-weight: bold;
}

.t-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


/* Пример стилей для модального окна */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    max-width: 600px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.img-wrapper {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-wrapper {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 250px;
    text-align: center;

}


.container-children-profile {

<!--            margin: 0 -5px; /* Убираем отступы с краев */-->
}

.record-container-children-profile {
    display: flex;
    flex-direction: row; /* Вертикальное размещение для каждого record */
    margin-bottom: 30px; /* Отступ между записями */
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */

}

.record-children-profile {
    flex: 1; /* Устанавливает гибкость элементов внутри контейнера */
    padding: 10px; /* Отступы для каждого элемента */
}

/* Заливка для нечётных элементов */
.record-container-children-profile .record-children-profile:nth-child(odd) {
    background-color: #B5C8E6; /* Светло-серый цвет для нечётных */
}

/* Заливка для чётных элементов */
.record-container-children-profile .record-children-profile:nth-child(even) {
    background-color: #d0d0d0; /* Темно-серый цвет для чётных */
}

items-container-profile {
     margin: 30px 30px; /* Добавляем отступ сверху и снизу (по желанию) */
}

.item-children-profile {
    width: calc(20%); /* Для 4 элементов в строке */
    text-align: center;

    box-sizing: border-box; /* Учитывать бордер и паддинг в ширине элемента */
    position: relative;
    display: inline-block;


}


.item-children-profile img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    justify-content: center;
    align-items: center;

}
.item-children-profile p {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

/* Дополнительный стиль для правильного отображения элементов */
@media (min-width: 600px) {
    .container-children-profile {
        flex-direction: row; /* Горизонтальное размещение для больших экранов */
        flex-wrap: wrap; /* Позволяет обернуть элементы на новую строку */
    }
    .item {
        width: calc(20%); /* 4 элементов в строке */
    }
}

.btn {
    display: inline-block; /* Позволяет кнопке вести себя как блок */
    padding: 10px 20px; /* Отступы внутри кнопки */
    background-color: #3E619B; /* Цвет фона кнопки (зеленый) */
    color: white; /* Цвет текста */
    text-decoration: none; /* Убираем подчеркивание */
    border-radius: 15px; /* Скругление углов */
    transition: background-color 0.3s; /* Плавный переход для цвета фона */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень кнопки */
}

.btn:hover {
    background-color: #D05859; /* Цвет фона при наведении */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Увеличенная тень при наведении */

}

.centered-link {
    text-align: center; /* Центрируем содержимое внутри блока */
    margin: 20px 0; /* Добавляем отступ сверху и снизу (по желанию) */
    font-size: 30px;
}

.container_arrow {
    text-align: center; /* Центрируем стрелку под ссылкой */
    margin-top: 10px; /* Добавляем отступ между ссылкой и стрелкой (по желанию) */
}

.arrow_1 {
    display: inline-block; /* Убираем абсолютное позиционирование */
}