<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Путь к успеху</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<header>
    <div class="header-container">
        <img src="{{ url_for('static', filename='img/Profile_banner.png') }}" alt="Баннер" class="header-banner">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Логотип" class="logo">
        </div>
        <div class="navigator">
            <h6>Путь к успеху</h6>
            <nav>
                <a href="{{ url_for('index') }}">Главная</a>
                <a href="{{ url_for('spisok') }}">Список детей</a>
                <a href="{{ url_for('events') }}">Список конкурсов</a>
                <a href="{{ url_for('karta') }}">Карта маршрута</a>
                <a href="{{ url_for('logout') }}" class="logout-button">Выйти</a> <!-- Кнопка Выйти -->
            </nav>
        </div>
    </div>
</header>

    <h1>Добавить конкурс</h1>
    <form method="POST">
        <label for="name">Название:</label>
        <input type="text" id="name" name="name" required><br>
        <br>
        <label for="opisanie">Описание</label>
        <input type="text" id="opisanie" name="opisanie" required><br>
        <br>
        <label for="srock">Срок подачи заявки:</label>
        <input type="date" id="srock" name="srock" required><br>
        <br><br>
        <label for="resultat_date">Дата результата:</label>
        <input type="date" id="resultat_date" name="resultat_date" required><br>
        <br><br>
        <br><br>
        <button class="btn" type="submit">Добавить</button>
        <br>

    </form>


</body>
</html>