{% extends 'base.html' %}

{% block title %}Путь к успеху{% endblock %}

{% block content %}

    <h1>Добавить конкурс</h1>
    <form method="POST">
        <label for="name">Название:</label>
        <input type="text" id="name" name="name" required><br>
        <br>
        <label for="opisanie">Описание</label>
        <input type="text" id="opisanie" name="opisanie" required><br>
        <br>
        <label for="srock">Срок подачи заявки:</label>
        <input type="date" id="srock" name="srock" required><br>
        <br><br>
        <label for="resultat_date">Дата результата:</label>
        <input type="date" id="resultat_date" name="resultat_date" required><br>
        <br><br>
        <br><br>
        <button class="btn" type="submit">Добавить</button>
        <br>

    </form>


{% endblock %}