{% extends 'base.html' %}

{% block title %}Путь к успеху{% endblock %}

{% block content %}


    <h4>Раскрытие потенциала: программы для одаренных</h4>
    <div class="container-children-profile">
        {% for record in children %}
            <div class="record-container-children-profile">
                <div class="record-children-profile">
                    <div class="centered-link">
                        <a href="{{ url_for('child_profile', child_id=record[2]) }}">
                            <strong style="color: #FF0406;">{{ record[0] }}</strong>
                        </a>
                    </div>
                    <div class="container_arrow">
                        <img src="{{ url_for('static', filename='img/Group 4.png') }}">
                    </div>
                    <div class="items-container-profile">
                    {% for event in record[1] %}
                        <div class="item-children-profile">
                            <div class="img-wrapper t-align_center">
                                <img src="{{ url_for('static', filename='img/Rectangle 9.png') }}" style="max-width:400px;" alt="">
                                <div class="text-wrapper t-align_center">
                                    <strong>{{ event[0] }}</strong>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
    <br>

{% endblock %}