{% extends 'base.html' %}

{% block title %}Путь к успеху{% endblock %}

{% block content %}


    <h3 style="text-align: center; font-size: 25px">Изменение данных по ребенку</h3>
    <form class="form" method="POST">
        <span class="cancel-button-form" onclick="history.back();">&times;</span>
        <h2>{{child[1]}}</h2>
        <br>

        <label for="fio">ФИО:</label>
        <input type="string" id="fio" name="fio" value = "{{child[1]}}" required style="width: 100%;" required><br>

        <label for="date_bd">Дата рождения:</label>
        <input type="date" id="date_bd" name="date_bd" value = "{{child[2]}}" required><br>

        <label for="age">Возраст:</label>
        <input type="number" id="age" name="age" value = "{{child[3]}}"  required><br>
        <br>
        <br><br>

<!--        <button class="btn" type="submit">Сохранить</button>-->
        <input type="submit" value="Сохранить">
        <button type="button" class="cancel-button" onclick="history.back();">Отмена</button> <!-- Кнопка Отмена -->
    </form>


    <script>
    document.getElementById('date_bd').addEventListener('change', function() {
                const birthDate = new Date(this.value);
                const today = new Date();

                let age = today.getFullYear() - birthDate.getFullYear();
                const monthDiff = today.getMonth() - birthDate.getMonth();

                // Если текущий месяц до месяца рождения или текущий день меньше дня рождения, уменьшаем возраст на 1
                if (monthDiff < 0 || (monthDiff === 0 && today.getDate() < birthDate.getDate())) {
                    age--;
                }

                document.getElementById('age').value = age;
            });

    </script>
{% endblock %}