<footer>
    <div class="footer-columns">
        <div class="footer-left">
            <p>© 2025 МАУ ДО "ЦДО", г.Мирный. Все права защищены.</p>
        </div>
        <div class="footer-right">
            <div>
                <p>Отчеты</p>
                <a href="{{ url_for('otchet', period=0) }}">Выгрузка за год</a>
                <a href="{{ url_for('otchet', period=1) }}">Выгрузка за 1 полугодие</a>
                <a href="{{ url_for('otchet', period=2) }}">Выгрузка за 2 полугодие</a>
                <a href="{{ url_for('report_form') }}">Сформировать отчет</a><br>
            </div>
            <div>
                <p>Настройки</p>
                <a href="{{ url_for('index') }}">Изменить пароль</a>
                <a href="{{ url_for('set_year_form') }}">Учебный год: {{ session.year_1 }}–{{ session.year_2 }}</a>

            </div>
            <div>
                <p>Справочники</p>
                <a href="{{ url_for('spisok_children') }}">Список детей</a>
                <a href="{{ url_for('teachers') }}">Педагоги</a>
                <a href="{{ url_for('reference', ref_type='studya') }}">Студии</a>
            </div>
            <div>
                <br>
                <a href="{{ url_for('reference', ref_type='napravlenie')  }}">Направления</a>
                <a href="{{ url_for('reference', ref_type='event_type') }}">Тип конкурсов</a>
            </div>
        </div>
    </div>

</footer>