<footer>
    <div class="footer-columns">
        <div class="footer-left">
            <p>© 2025 МАУ ДО "ЦДО", г.Мирный. Все права защищены.</p>
        </div>
        <div class="footer-right">
            <div>
                <p>Отчеты</p>
                <a href="{{ url_for('otchet') }}">Выгрузка</a>
            </div>
            <div>
                <p>Настройки</p>
                <a href="{{ url_for('index') }}">Изменить пароль</a>
            </div>
            <div>
                <p>Справочники</p>
                <a href="{{ url_for('spisok_children') }}">Список детей</a>
                <a href="{{ url_for('index') }}">Педагогов</a>
                <a href="{{ url_for('index') }}">Студий</a>
                <a href="{{ url_for('index') }}">Направлений</a>
            </div>
        </div>
    </div>
</footer>