<!-- index.html -->
{% extends 'base.html' %}

{% block title %}Путь к успеху{% endblock %}

{% block content %}



<div class="main-content">
    <div class="blocks-container">
        <a class="link-block" href="{{ url_for('spisok') }}">
            <img src="static/img/f1.png" alt="Описание изображения" class="block-image"/>
            Список детей
        </a>
        <a class="link-block" href="{{ url_for('events') }}">
            <img src="static/img/img2.jpg" alt="Описание изображения" class="block-image"/>
            Конкурсы
        </a>
        <a class="link-block" href="{{ url_for('karta') }}">
            <img src="static/img/img3.jpg" alt="Описание изображения" class="block-image"/>
            Карта маршрута
        </a>
    </div>
</div>

{% endblock %}