<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Путь к успеху</title>
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<header>
    <div class="header-container">
        <img src="{{ url_for('static', filename='img/Profile_banner.png') }}" alt="Баннер" class="header-banner">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Логотип" class="logo">
        </div>
        <div class="navigator">
            <h6>Путь к успеху</h6>
            <nav>
                <a href="{{ url_for('index') }}">Главная</a>
                <a href="{{ url_for('spisok') }}">Список детей</a>
                <a href="{{ url_for('events') }}">Список конкурсов</a>
                <a href="{{ url_for('karta') }}">Карта маршрута</a>
            </nav>
        </div>
    </div>
</header>
<body>
    <h2>Вход в систему</h2>
    <form method="POST" action="{{ url_for('login') }}">
        <label for="username">Логин:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Войти">
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>