{% extends "base.html" %}
{% block title %}Форма отчета{% endblock %}
{% block content %}
<h2>Выберите параметры отчета</h2>

<form action="{{ url_for('generate_report') }}" method="POST">

    <div>
        <label for="date_start">Дата С:</label>
        <input type="date" id="date_start" name="date_start">
    </div>
    <div>
        <label for="date_end">Дата По:</label>
        <input type="date" id="date_end" name="date_end">
    </div>

    <div>
        <label>Студия:</label>
        <select name="studio">
            <option value="">Все</option>
            {% for studio in studios %}
                <option value="{{ studio.id }}">{{ studio.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div>
        <label>Направление:</label>
        <select name="direction">
            <option value="">Все</option>
            {% for direction in directions %}
                <option value="{{ direction.id }}">{{ direction.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div>
        <label>Педагог:</label>
        <select name="teacher">
            <option value="">Все</option>
            {% for teacher in teachers %}
                <option value="{{ teacher.id }}">{{ teacher.FIO }}</option>
            {% endfor %}
        </select>
    </div>

    <div>
        <label>Тип конкурса:</label>
        <select name="event_type">
            <option value="">Все</option>
            {% for et in event_types %}
                <option value="{{ et.id }}">{{ et.name }}</option>
            {% endfor %}
        </select>
    </div>

    <button type="submit">Сформировать отчет</button>
</form>

<script>

    // Эти переменные приходят из Jinja
    const year1 = {{ year1 }};
    const year2 = {{ year2 }};

    document.addEventListener("DOMContentLoaded", function () {
        const dateStartInput = document.getElementById("date_start");
        const dateEndInput = document.getElementById("date_end");

        if (!dateStartInput.value) {
            dateStartInput.value = `${year1}-09-01`;
        }

        if (!dateEndInput.value) {
            dateEndInput.value = `${year2}-08-31`;
        }
    });

    document.getElementById("reportForm").addEventListener("submit", function(event) {
        const dateStart = document.getElementById("date_start").value;
        const dateEnd = document.getElementById("date_end").value;

        // Проверяем, что обе даты заполнены
        if (dateStart && dateEnd && dateStart > dateEnd) {
            event.preventDefault(); // Останавливаем отправку формы
            alert("Ошибка: Дата 'По' не может быть раньше даты 'С'");
        }
    });
</script>
{% endblock %}