{% extends 'base.html' %}

{% block title %}Путь к успеху{% endblock %}

{% block content %}

    <script>
         function filterTable() {
            // Получаем значения фильтров
            const filterFIO = document.getElementById("filterFIO").value.toLowerCase();
            const filterDR = document.getElementById("filterDR").value;
            const filterAge = document.getElementById("filterAge").value;

            const table = document.getElementById("childrenTable");
            const tr = table.getElementsByTagName("tr");
            let visibleRowCount = 0; // Счетчик для видимых строк

            // Проходим по всем строкам таблицы (кроме заголовка)
            for (let i = 1; i < tr.length; i++) {
                const tdФИО = tr[i].getElementsByTagName("td")[1];
                const tdНаправление = tr[i].getElementsByTagName("td")[2];
                const tdСтудия = tr[i].getElementsByTagName("td")[3];

                // Скрываем строку, если ни одно из полей не соответствует фильтрам
                if (
                    (tdФИО && tdФИО.textContent.toLowerCase().indexOf(filterFIO) > -1) &&
                    (tdНаправление && tdНаправление.textContent.toLowerCase().indexOf(filterDR) > -1) &&
                    (tdСтудия && tdСтудия.textContent.toLowerCase().indexOf(filterAge) > -1)
                    )

                {
                    tr[i].style.display = ""; // Показываем строку
                    visibleRowCount++;
                    tr[i].getElementsByTagName("td")[0].textContent = visibleRowCount; // Обновляем порядковый номер
                } else {
                    tr[i].style.display = "none"; // Скрываем строку
                }
            }
        }

        function sortTable(columnIndex) {
            const table = document.getElementById("childrenTable");
            const tbody = table.getElementsByTagName("tbody")[0];
            const rows = Array.from(tbody.getElementsByTagName("tr"));

            // Определяем, нужно ли сортировать по возрастанию или убыванию
            const isAscending = !tbody.getAttribute("data-order") || tbody.getAttribute("data-order") === "desc";
            tbody.setAttribute("data-order", isAscending ? "asc" : "desc");

            // Сортируем строки
            rows.sort((a, b) => {
                const cellA = a.getElementsByTagName("td")[columnIndex].textContent.trim();
                const cellB = b.getElementsByTagName("td")[columnIndex].textContent.trim();

                // Сравниваем значения
                if (cellA < cellB) return isAscending ? -1 : 1;
                if (cellA > cellB) return isAscending ? 1 : -1;
                return 0;
            });

            // Очищаем tbody и добавляем отсортированные строки
            rows.forEach(row => tbody.appendChild(row));
            // Обновляем порядковые номера после сортировки
            rows.forEach((row, index) => {
                row.getElementsByTagName("td")[0].textContent = index + 1;
            });
        }
    </script>

    <h1>Весь список детей</h1>

    <a href="#" id="add-child-btn"  class="btn" data-toggle="modal" data-target="#addChildModal">
    <i class="fas fa-plus"></i> Добавить ребенка
    </a>

    <!-- Форма фильтрации -->
    <div class="filter-container">
        <input type="text" id="filterFIO" oninput="filterTable()" placeholder="ФИО ребенка">
        <input type="date" id="filterDR" oninput="filterTable()" placeholder="Дата рождения">
        <input type="number" id="filterAge" oninput="filterTable()" placeholder="Возраст">
    </div>

    <table id="childrenTable">
        <thead>
            <tr>
                <th>№</th>
                <th  onclick="sortTable(1)">ФИО</th>
                <th onclick="sortTable(2)">Дата рождения</th>
                <th  onclick="sortTable(3)">Возраст</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for child in children %}
            <tr>
<!--                <td>{{ child[0] }}</td>-->
                <td>{{ loop.index }}</td>  <!-- Используем loop.index для порядкового номера -->
                <td>{{ child[1] }}</td>
                <td>{{ child[2] }}</td>
                <td>{{ child[3] }}</td>
                <td>
                    <!-- Иконка редактирования -->
                    <a href="{{ url_for('edit_child_in_spisok', child_id=child[0]) }}" class="edit-btn">
                        <img src="{{ url_for('static', filename='img/pen.png') }}" alt="Редактировать" style="width: 24px; height: 24px;">
                    </a>
                    <!-- Иконка удаления (пример) -->
                    <a href="{{ url_for('delete_child_in_spisok', child_id=child[0]) }}" class="delete-btn" onclick="return confirm('Вы уверены, что хотите удалить этого ребенка?');">
                        <img src="{{ url_for('static', filename='img/del.png') }}" alt="Удалить" style="width: 24px; height: 24px;">
                    </a>
                </td>
               </tr>
            {% endfor %}
        </tbody>
    </table>
    <br><br><br>


    <div id="successDialog"  style="display: none;">
        <div class="dialog-content">
            <p id="dialogMessage_1">Данные успешно добавлены</p>
            <button id="okButton">OK</button>
        </div>
    </div>

    <!-- Модальное окно -->
    <div id="addChildModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h1>Добавить ребенка</h1>
            <form class="form" method="POST" action="{{ url_for('add_child_in_spisok_1') }}">
                <label for="fio1">ФИО:</label>
                <input type="text" id="fio1" name="fio1" required><br>
                <br>
                <label for="date_bd">Дата рождения:</label>
                <input type="date" id="date_bd" name="date_bd" required><br>
                <br>
                <label for="age">Возраст:</label>
                <input type="number" id="age" name="age" required><br>
                <br><br>
                <button class="btn-black" type="submit">Добавить</button>
<!--                <input type="submit" value="Добавить запись">-->
                <button type="button" class="cancel-button" onclick="closeModal()">Отмена</button> <!-- Кнопка Отмена -->
                <br>
            </form>
        </div>
    </div>

    <script>

         // Функция для закрытия модального окна
        function closeModal() {
            var modal = document.getElementById("addChildModal");
            modal.style.display = "none";
        }

        // Получаем элементы
        var modal = document.getElementById("addChildModal");
        var btn = document.getElementById("add-child-btn");
        var span = document.getElementsByClassName("close")[0];

        // Открываем модальное окно при нажатии на кнопку
        btn.onclick = function() {
            modal.style.display = "block";
        }

        // Закрываем модальное окно при нажатии на крестик
        span.onclick = function() {
            modal.style.display = "none";
        }

        // Закрываем модальное окно при клике за его пределами
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        document.getElementById('date_bd').addEventListener('change', function() {
            const birthDate = new Date(this.value);
            const today = new Date();

            let age = today.getFullYear() - birthDate.getFullYear();
            const monthDiff = today.getMonth() - birthDate.getMonth();

            // Если текущий месяц до месяца рождения или текущий день меньше дня рождения, уменьшаем возраст на 1
            if (monthDiff < 0 || (monthDiff === 0 && today.getDate() < birthDate.getDate())) {
                age--;
            }

            document.getElementById('age').value = age;
        });

        document.querySelector("#addChildModal .btn").onclick = function(event) {
<!--            event.preventDefault(); // Предотвращаем стандартное поведение формы-->

            // Получаем данные из формы
            const form = document.querySelector("#addChildModal form");
            const formData = new FormData(form);

            // Отправляем данные на сервер с использованием Fetch API
            fetch(form.action, {
                method: 'POST',
                body: formData
            })
            .then(response => {
                if (response.ok) {
<!--                  return response.json(); // response.text() -->
                        return "response.text()"
                }
                throw new Error('Network response was not ok.');
            })
            .then(data => {
               console.log('Success:', "OK");

                // Измените текст на успешное сообщение
                const dialogMessage = document.getElementById('dialogMessage_1');
                dialogMessage.textContent = 'Данные успешно добавлены';

                // Показываем диалог успеха
                const successDialog = document.getElementById('successDialog');
                successDialog.style.display = 'block';

                // Закрываем диалог успеха по клику на кнопку OK
                document.getElementById('okButton').onclick = function() {
                    successDialog.style.display = 'none';
                    window.location.reload(); // Перезагрузить страницу
                };
                // Обновите интерфейс или сделайте что-то еще с ответом `data`
            })
            .catch(error => {
                console.error('Error:', error);
                // Обработайте ошибку
                const dialogMessage = document.getElementById('dialogMessage_1');
                dialogMessage.textContent = 'Ошибка записи!!!'
                // Показываем диалог успеха (в данном случае для отображения ошибки)
                const successDialog = document.getElementById('successDialog');
                successDialog.style.display = 'block';

                // Закрываем диалог успеха по клику на кнопку OK
                document.getElementById('okButton').onclick = function() {
                    successDialog.style.display = 'none';
                };
            });
            // Закрываем модальное окно
            modal.style.display = "none";
        };
    </script>

{% endblock %}